/* reseteo de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fuente */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* estilos para el encabezado */
header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

header h1 {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    background-color: #2f2f2f;
    color: #fff;
}

/* estilos para la sección principal */
main {
    margin-top: 80px;
}


	section {
    padding: 80px;
    text-align: center;
    background: linear-gradient(to bottom, #3498db, #2ecc71, #95a5a6), url('imagen-de-fondo.jpg');
    background-size: cover;
}


section h2 {
    font-size: 36px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section p {
    font-size: 18px;
    font-weight: 400;
    color: #666;
    line-height: 1.5;
    margin-bottom: 40px;
}

/* estilos para el pie de página */
footer {
    padding: 40px;
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
}
.fade-in {
  opacity: 0;
  animation: fade-in 2s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-container {
	margin-top: 20px;
}
h2 {
  margin-top: 50px; 
}
section {
   margin-bottom: 50px;
}
#quienes-somos h2 {
  margin-top: 60px;
}
.bright-title h2 {
  background-color: ##2ad1aa;
  color: ##b51607; 
}
.intro-section h2:hover {
    transform: translateX(5px); /* Mueve el texto horizontalmente cuando se señala con el cursor */
    transition: transform 0.2s ease; /* Añade una transición suave para el movimiento */
}
body {
    background: linear-gradient(to bottom right, #3498db, #2eecc71, #f1c40f, #ff6b81);
}
body {
    perspective: 800px; /* Define la perspectiva para el efecto 3D */
}

.intro-section {
    background: linear-gradient(to bottom right, #3498db, #2ecc71, #f1c40f, #ff6b81);
    padding: 20px; /* Añade espacio alrededor del contenido */
    display: inline-block;
    transform: rotateY(10deg); /* Gira el bloque en el eje Y */
    transform-style: preserve-3d; /* Conserva el efecto 3D */
    margin: 10px; /* Agrega margen entre los bloques */
    transition: transform 0.3s ease; /* Añade una transición suave para el efecto */
}

.intro-section:hover {
    transform: rotateY(0deg); /* Restaura la rotación a 0 grados al pasar el cursor */
}




